PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/data_migrator
JWT_SECRET=super-secret
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
